<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <head th:replace="header"></head>
</head>
<style>
    .logo{
        background-image: url('/common/img/timg.jpg');
        background-size:100% 100%;
        width: 180px;
        height: 180px;
        border-radius: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .login-button{
        width: 100%;
    }
</style>
<body>
    <div id="login">
        <el-row>
            <el-col :span="9"><p></p></el-col>
            <el-col :span="6">
                <div class="logo"></div>
                <el-form size="small" label-position="left" label-width="100px">
                    <el-form-item label="邮箱：">
                        <el-input v-model="loginForm.email"></el-input>
                    </el-form-item>
                    <el-form-item label="密码：">
                        <el-input show-password v-model="loginForm.password"></el-input>
                        <el-checkbox>记住我</el-checkbox>
                        <el-button type=primary class="login-button">登录</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="9"><p></p></el-col>
        </el-row>
    </div>
</body>
<script>
    var vue = new Vue({
        el:"#login",
        data:{
            loginForm:{
                email:"",
                password:"",
                remember:false
            }
        },methods:{

        }
    })
</script>
</html>