<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资料卡</title>
    <head th:replace="header"></head>
</head>

<body>
<div id="card">
    <div id="top">
        <el-row>
            <el-col :span="4"><a size="medium" href="/index" style="text-decoration:none; font-size:20px; color:green;text-align: center; display: block">首页</a></el-col>
            <el-col :span="4"><a size="medium" href="" style="text-decoration:none; font-size:20px; color:green;text-align: center; display: block;">发现</a></el-col>
            <el-col :span="4"><a size="medium" href="/mylib" style="text-decoration:none; font-size:20px; color:green; text-align: center; display:block">我的书房</a></el-col>
            <el-col :span="4"><a size="medium" href="/publish" style="text-decoration:none; font-size:20px; color:green; text-align: center; display:block">投稿</a></el-col>
            <el-col :span="5">
                <el-input placeholder="搜索" prefix-icon="el-icon-search" v-model="search" size="mini"></el-input>
            </el-col>
            <el-col :span="3"><a href="/login" style="font-size: 16px; color: blue; text-align: center; display:block">登录</a></el-col>
        </el-row>
    </div>
    <hr/>

    <div id="info">
         <el-row>
             <el-col :span="3"><el-image src="bgImg1"></el-image></el-col>
             <el-col :span="9">

             </el-col>

             <el-col :span="9">

             </el-col>
             <el-col :span="3"><el-image src="bgImg2"></el-image></el-col>
         </el-row>
    </div>

    <div id="comment">

    </div>

    <div id="edit">

    </div>

</div>
</body>
<script>
    var vue = new Vue({
        el: "#card",
        data:{
            bgImg1:'',
            bgImg2:'',
            search:''

        },
        methods:{

        }
    })
</script>
</html>