<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投稿</title>
    <head th:replace="header"></head>

</head>

<body>
<div id="publish">
    <div id="top">
        <el-row>
            <el-col :span="4"><a size="medium" href="/index" style="text-decoration:none; font-size:20px; color:green;text-align: center; display: block">首页</a></el-col>
            <el-col :span="4"><a size="medium" href="" style="text-decoration:none; font-size:20px; color:green;text-align: center; display: block;">发现</a></el-col>
            <el-col :span="4"><a size="medium" href="/mylib" style="text-decoration:none; font-size:20px; color:green; text-align: center; display:block">我的书房</a></el-col>
            <el-col :span="4"><a size="medium" href="/publish" style="text-decoration:none; font-size:20px; color:green; text-align: center; display:block">投稿</a></el-col>
            <el-col :span="5">
                <el-input placeholder="搜索" prefix-icon="el-icon-search" v-model="search" size="mini"></el-input>
            </el-col>
            <el-col :span="3"><a href="/login" style="font-size: 16px; color: blue; text-align: center; display:block">登录</a></el-col>
        </el-row>
    </div>
    <hr/>
    <div id="form">
        <el-row>
            <br/><br/>
            <el-col :span="3">
                <el-image src="bgImg1"></el-image>
            </el-col>
            <el-col :span="9">
                <el-form size="small" label-position="right" label-width="80px" style="width:80%">
                    <el-form-item label="作品名称">
                        <el-input type="text" v-model="cardForm.title"></el-input>
                    </el-form-item>
                    <el-form-item label="标签">
                        <el-input type="text" v-model="cardForm.tags"></el-input>
                    </el-form-item>
                    <el-form-item label="作者">
                        <el-input type="text" v-model="cardForm.author"></el-input>
                    </el-form-item>
                    <el-form-item label="简介">
                        <el-input type="textarea" rows="5" v-model="cardForm.introduce"></el-input>
                    </el-form-item>
                    <el-button type="text" style="display: block;margin-left:auto" @click="toShow">帮助</el-button>
                    <el-dialog :visible.sync="visible" style="width:70%; margin-left:auto; margin-right:auto" title="投稿说明" >
                        社会主义好, <br/>社会主义好!<br/>社会主义国家人民地位高!<br/>
                        <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="yes">确 定</el-button>
                    </span>
                    </el-dialog>
                </el-form>
            </el-col>

            <el-col :span="9">
                <el-upload :auto-upload="false" :limit="1" style="width:80%" action="0"
                        :file-list="cardForm.cover"
                        list-type="picture">
                    <el-button size="small" type="primary">点击上传封面</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
                <br/>
                <el-upload :auto-upload="false" :limit="3" style="width:80%" :multiple="true" action="0"
                        :file-list="cardForm.files">
                    <el-button size="small" type="primary">点击上传附件</el-button>
                    <div slot="tip" class="el-upload__tip">支持doc,docx,pdf格式的文件。最多可上传三个</div>
                </el-upload>
            </el-col>

            <el-col :span="3">
                <el-image src="bgImg2"></el-image>
            </el-col>
        </el-row>

        <div  style="width: 70%; margin-left:auto; margin-right:auto">
            <div id="editor"></div>
            <el-button @click="save(1)" type="primary">存草稿</el-button>
            <el-button @click="save(2)" type="primary">提&nbsp;交</el-button>
        </div>

    </div>
    <br/>
</div>
</body>
<script>
    var vue = new Vue({
        el: "#publish",
        data:{
            bgImg1:'',
            bgImg2:'',
            search:'',
            visible:false,
            editor:null,
            cardForm:{
                title:'',
                tags:'',
                author:'',
                introduce:'',
                cover:[],
                files:[]
            }
        },
        mounted(){
            let E = window.wangEditor
            let editor = new E('#editor')
            // 或者 var editor = new E( document.getElementById('editor') )
            editor.create()
            this.editor = editor
        },
        methods:{
            toShow:function () {
                this.visible=true
            },
            yes:function () {
                this.visible=false
            },getEditorHtml(){
                alert(this.editor.txt.html())
            },save(type){

                this.cardForm["article"]=this.editor.txt.html();
                this.cardForm["length"]=this.editor.txt.text().length;
                axios.post("/api/doc/upload",this.cardForm)

            }
        }
    })
</script>
</html>